body::-webkit-scrollbar {
    display: none;
}


body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.main-body{

}
.main-content{
width: 100%;
}
.sidebar{

}
.active{
    background-color: #f1f1f1;
}
.dropdown-item.active{
    background-color: #f1f1f1;
    color: #0d6efd;
}
.dropdown-item{
    font-size: 90%;
}
.col-md-8, .col-md-11{
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
#toggleButtonDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50pt;
    left: -2pc;
    pointer-events: none;
}
#toggleButton{
    pointer-events: all;
}
  @media only screen and (max-width: 1320px) {
    #toggleButtonDiv {
      width: 100%;
      height: auto;
      position:static;
      top: 0%;
      left: 0%;
    }
  }
  